.main {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 3vh;
  align-items: center;
}

.top {
  display: flex;
  padding: 1vh;
  justify-content: center;
}

.bottom {
  display: flex;
  margin-top: 4vh;
  padding: 1vh;
  justify-content: center;
}
