.main {
  display: flex;
  flex-basis: 100%;
  margin-top: 70px;
  flex-direction: column;
  box-sizing: border-box;
}

.section-1 {
  flex-basis: 25%;
}

.top {
  display: flex;
}

.bottom {
  display: flex;
}
