.navbar {
  display: flex;
  background-color: #221700;
  flex-basis: 3%;
  height: 90vh;
  margin: 10px;
  border-radius: 1.3rem;
  padding: 15px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 20px;
}

.navbar > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.navbar img {
  height: 35px;
}

.mini_navbar {
  display: flex;
  background-color: #221700;
  height: 5vh;
  border-radius: 1.3rem;
  padding: 15px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
}

.mini_navbar img {
  height: 4.5vh;
}
