.searchbar {
  display: flex;
  margin-top: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 10px;
}

input {
  border: none;
  width: 800px;
  z-index: 0, 0, 0;
  bottom: 10px;
  position: relative;
  top: -7px;
}

input:focus {
  outline: none;
}

.moremore {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 30px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3px;
}

.moremore > span {
  background-color: rgb(180, 180, 180);
  padding: 6px;
  border-radius: 50px;
  font-size: 11px;
}

.notifications {
  width: 30px;
}

.search {
  display: flex;
  height: 10px;
  flex-direction: row;
}

.lupa {
  width: 30px;
  padding: 2px;
  position: relative;
  top: 3px;
}

.more {
  display: flex;
  gap: 15px;
}
