.section-3 {
  display: flex;
  flex-direction: column;
}

.section-3 span {
  color: rgb(146, 146, 146);
}

.s3 > div {
  /*background-image: url(/projekt-2/wektorki/Zrzut\ ekranu\ 2024-02-16\ 085201.png);*/
  width: 54vw;
  height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 6.5vw;
}

.section-3 h2 {
  margin: 0%;
  font-size: 2rem;
}

.s3 > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 4.7vw;
  background-color: rgb(76, 60, 41);
  border-radius: 1rem;
  margin: 2px;
  display: flex;
}

#c1 {
  height: 10.5vh;
  opacity: 0.5;
}

#c11 {
  height: 10.5vh;
}

#c2 {
  height: 9vh;
  opacity: 0.5;
}

#c22 {
  height: 9vh;
}

#c3 {
  height: 7.5vh;
  opacity: 0.5;
}

#c33 {
  height: 7.5vh;
}

#c4 {
  height: 5vh;
  opacity: 0.5;
}

#c44 {
  height: 5vh;
}

#c5 {
  height: 3.6vh;
  opacity: 0.5;
}

#c55 {
  height: 3.6vh;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 50%;
  bottom: 100%;
  translate: -50%;
  visibility: hidden;
  opacity: 0;
  font-size: 0.8em;
  background-color: rgb(76, 60, 41);
  color: #fff;
  border-radius: 0.5em;
  padding: 0.25em;
  z-index: 1;
  transform: 0.7s;
}

[data-tooltip]:hover {
  cursor: pointer;
}

[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

[data-tooltip]:active::before {
  transition: 0.2s;
  opacity: 0;
}

.Coffes {
  padding-top: 5vh;
}
